<!DOCTYPE html>
<html>
<head>
<title>Admin Panel</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
{% include 'navbar.html' %}
<h3>Admin Panel - Update Marks</h3>
<hr>

<form method="post" class="row g-2">

<div class="col">
<input class="form-control" name="username" placeholder="Username">
</div>

<div class="col">
<input class="form-control" name="physics" placeholder="Physics">
</div>

<div class="col">
<input class="form-control" name="chemistry" placeholder="Chemistry">
</div>

<div class="col">
<input class="form-control" name="mathematics" placeholder="Math">
</div>

<div class="col">
<input class="form-control" name="english" placeholder="English">
</div>

<div class="col">
<button class="btn btn-primary w-100">Update</button>
</div>

</form>

<hr>

<h4>Student Records</h4>

<table class="table table-bordered">
<tr>
<th>Username</th>
<th>Physics</th>
<th>Chemistry</th>
<th>Math</th>
<th>English</th>
</tr>

{% for u in users %}
<tr>
<td>{{u[0]}}</td>
<td>{{u[1]}}</td>
<td>{{u[2]}}</td>
<td>{{u[3]}}</td>
<td>{{u[4]}}</td>
</tr>
{% endfor %}
</table>

</body>
</html>